.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: none;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.rightside {
  width: 60vw;
  height: 100vh;
  border: 1px solid red
}

.leftside {
  width: 40vw;
  height: 100vh;
  border: 1px solid blue

}

.registeredContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.registerSection {
	width: 250px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal {
  align-self: center;
  margin: 4em;
}